@media (min-width: 700px) {
    .menu-button {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        flex-wrap: wrap;
    }
}