@media (min-width: 700px) {
    .menu-button {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media (min-width: 600px){
  #temple-div{
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}

@media (min-width: 900px){
  #temple-div{
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}
